@import url('https://fonts.googleapis.com/css?family=PT+Sans');
// Main
$primary-font: 'Sunflower',
sans-serif;
$background-color: rgb(43,
48,
61);
$font-color: rgb(43,
48,
61);
$secondary-font-color: rgb(255,
255,
255);
$titles-color: rgba(236,
236,
236,
.9);
$logos-fill-color: rgb(40,
216,
204);
// bars
$bar-background: rgb(35,
40,
51);
$bar-color:rgb(40,
216,
204); // $bar-color: rgb(4,
// 147,
// 114);
$bar-color-hover: rgb(245,
215,
110);