@import url('https://fonts.googleapis.com/css?family=PT+Sans');
// Main
$primary-font: 'Sunflower',
sans-serif;
$background-color: rgba(10,
10,
10,
1);
$font-color: rgba(122,
124,
128,
0.8);
$titles-color: rgba(236,
236,
236,
.9);
$logos-fill-color: rgb(0,
177,
106);
// bars
$bar-background: rgb(238,
238,
238);
$bar-color: rgb(4,
147,
114);
$bar-color-hover: rgb(242,
120,
75);