@import './_variables.scss';
@import './_timeline.scss';
@import './_mixins.scss';
@import './_header.scss';
@import './_skills.scss';
@import './_experience.scss';
@import './_education.scss';
body {
    padding: 0;
    margin: 0;
    background-color: $background-color;
    color: $font-color;
    font-family: $primary-font;
    font-size: 1em;
    min-width: 320px;
}

main {
    color: $secondary-font-color;
    section {
        padding: 1em;
    }
}

footer {
    border: 2px solid $bar-color; // color: $secondary-font-color;
    background-color: $bar-color;
    padding: 0.7em;
    text-align: center;
}

@for $i from 1 through 6 {
    h#{$i} {
        color: $titles-color;
    }
}


@media only screen and (min-width: 800px) {
    section#about {
        width: 25%;
        position: fixed;
        z-index: 1;
    }
    main {
        display: grid;
        grid-template-columns: calc(25% + 2em) auto;
        .main-wrapper {
            grid-column-start: 2;
            display: grid;
            grid-template-columns: repeat(2, 1fr); 
            grid-template-rows: auto;
            grid-template-areas: "skills skills" "experience education";
            section#skills {
                grid-area: skills;
                border: none;
            }
            section#education {
                grid-area: education;
            }
            section#experience {
                grid-area: experience;
            }
        }
    }
    footer {
        display: grid;
        grid-template-columns: calc(25% + 2em) auto;
        span {
            grid-column-start: 2;
        }
    }
}
