@import './_variables.scss';
@import './_header.scss';
@import './_skills.scss';
body {
    padding: 4%;
    margin: 0;
    background-color: $background-color;
    color: $font-color;
    font-family: $primary-font;
}

.wrapper {
    width: calc(100vw - 8%);
}

main {
    min-height: 100vh;
}

@for $i from 1 through 6 {
    h#{$i} {
        color: $titles-color;
    }
}